<header class="site-header">

  <div class="wrap">
    <div class="container">
      <div class="site-header-svg">
        <a href="{{ site.url }}" target="_blank"><img src="assets/img/upflogo.png"></a>
      </div>
      {% comment %}
      <div class="site-header-social-container">
        {% if site.github_username %}
        <div class="site-header-social">
          <a href="https://github.com/{{ site.github_username }}">
          <span class="icon github">
            {% include svg_icons/github_icon.html %}
          </span>
        </a>
        </div>
        {% endif %}
        {% if site.twitter_username %}
          <div class="site-header-social">
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon twitter">
                {% include svg_icons/twitter_icon.html %}
              </span>
            </a>
        </div>
        {% endif %}
      </div>
      {% endcomment %}
    </div> <!-- end of .container -->
  </div>
</header>
